.git
.DS_Store
.idea
__pycache__/**
build/**/**
occpy/src/build/**/**
occpy/src/build/**
data_local/**
output*
*.obj
*.pyd
raytr.cpp
OcclusionMapping_Holstein.py
*.exp
*.lib
*.code-workspace
.vscode
*__pycache__*