.git
.DS_Store
.idea
__pycache__/**
build/**/**
occpy/src/build/**/**
occpy/src/build/**
data_local/**
output/
output/**
*.obj
*.pyd
raytr.cpp
OcclusionMapping_Holstein.py
*.exp
*.lib
*.code-workspace
.vscode
*__pycache__*
riegl_tests/
scripts/
test_out/
occpy.egg-info
data/RIEGL_TLS
vis_out/
tests/*_RamerenWald_*
tests/Visualize_ULS_MLS_comb.py
config/*_RamerenWald_*
config/*_tutorial_out.JSON
config/*_tutorial_out_indvLAZ.JSON